<div class="container collapse" id="s3" style="border-top: 2px solid #222; padding-top: 10px;">
  <div class="row mt-2">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <div class="col-md-12" style="padding-bottom: 300px;">
            <h3 style="padding-bottom: 20px;">Environment</h3>
            <div style="text-align: center;">
              <select class="selectpicker" multiple data-live-search="true" style="width: 1000px;">
                <% step2.forEach(card => { %>
                  <option value="<%=card.id%>"><%=card.name%></option>
                <% }) %>
              </select>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $('select').selectpicker();
</script>

<style>

  .bootstrap-select {
    width: 80% !important;
  }

</style>