<div class="container collapse" id="s2-2">
    <div class="row mt-2">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <div class="col-12">
                <h3>Step 2</h3>
              <div class="card-deck">
                <div id="Oracle-RDS-card" class="card mb-4  active">
                  <img class="card-img-top m-2" src='/img/oraclerds.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="Oracle-RDS" type="radio" checked="">
                      <label for="Oracle-RDS">Oracle RDS</label></h5>
                    <p class="card-text">Amazon RDS for Oracle is a fully managed commercial database that makes it easy to set up, operate, and scale Oracle deployments in the cloud</p>
                  </div>
                </div>
                <div id="SQL-RDS-card" class="card mb-4">
                  <img class="card-img-top m-2" src='/img/oraclerds.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="SQL-RDS" type="radio"> <label for="SQL-RDS">SQL RDS</label></h5>
                    <p class="card-text"> Amazon RDS for SQL Server makes it easy to set up, operate, and scale SQL ...</p>
                  </div>
                </div>
              
                
                <div class="w-100"></div>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>