<div class="container collapse" id="s7">
    <div class="row mt-2">
        <div class="col-12">
                <div class="form-group row">
                    <div class="col-md-12">

                        <button type="button" class="collapsible open" id="header7" style="margin: 5px 0;">Step 7: Comments</button>
                            
                        <div class="content" id="cont7" style="text-align: center; display: block;">
                            <textarea id="comText" name="commentBox" style="width:80%; max-width: 100%; max-height: 100%;" maxlength=1000 onchange="var textbox = document.getElementById('comText'); 
                                                                                                document.getElementById('step7-text').innerHTML=textbox.value;
                                                                                                var servDetHeight = document.querySelector('#servDetails').offsetHeight;
                                                                                                var offsetServDet = servDetHeight / 2;
                                                                                                $('#servDetails').css('top', window.innerHeight / 2 - offsetServDet)
                                                                                                $('#cont7').css('display','none');
                                                                                                $('#header7').removeClass('open');
                                                                                                $('#s8').collapse('show');
                                                                                                setTimeout(function () {
                                                                                                    document.querySelector('#cont8').scrollIntoView(true, { behavior: 'smooth' });    
                                                                                                }, 250);" 
                                                                                                placeholder="Place any additional comments here..."></textarea>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    
    //var textbox = document.getElementById('comText')
    // textbox.addEventListener(oninput, function () {
    //     console.log('testing')
    //     $('#step7-text').html(element)
    // })

    // function commentArea() {
    //     var element = document.getElementById('comText').value
    //     console.log(element)
    //     $('#step7-text').html(element)
    //     //$('#s4').collapse('hide')
    //     $('#s8').collapse('show');
    //     document.getElementById("step8").scrollIntoView();
    // }

</script>