<div class="container collapse" id="s6">
    <div class="row mt-2">
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <div class="col-md-12">

                        <button type="button" class="collapsible active" id="header6" style="margin: 5px 0;">Step 6: Licencing</button>
                            
                        <div class="content" id="cont6" style="text-align: center; display: block;">
                            <select id="licenceSelect" class="selectpicker" data-live-search="true" style="width: 800px;" onchange="licenceSelected()">
                                
                                <option value="" disabled selected style="background-color: white;">Select Licencing</option>
                                <% step6.forEach(card => { %>
                                    <option value="<%=card.id%>"><%=card.name%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function licenceSelected() {
        var element = $("#licenceSelect option:selected").text()
        $('#step6-text').html(element)

        // Setting service details height to be centered in all viewports
        var servDetHeight = document.querySelector('#servDetails').offsetHeight;
        var offsetServDet = servDetHeight / 2;
        $('#servDetails').css('top', window.innerHeight / 2 - offsetServDet)
    
        $("#cont6").css("display", "none");
        $("#header6").removeClass("active");

        $('#s7').collapse('show')
        document.getElementById("step7").scrollIntoView();
    }

</script>

<style>

    .bootstrap-select {
        width: 80% !important;
    }

</style>