<div class="container collapse" id="s5">
    <div class="row mt-2">
        <div class="col-12">
            <form id="form5" method="post" action="/submit">
                <div class="form-group row">
                    <div class="col-md-12">
  
                        <button type="button" class="collapsible open" id="header5" style="margin: 5px 0;">Step 5: Database Size</button>
              
                        <div class="content" id="cont5" style="text-align: center; display: block;">
                            <input id="dbsize" type="number" onchange="dbSize()"><span style="margin-left: 10px;">GB</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
<script>
    
    // document.addEventListener('load', (e) => {
    //     document.getElementById("header5").scrollIntoView({behavior: "smooth"});
    // });

    $(document).on("keydown", "form", function(event) {
        return event.key != "Enter";
    });

    function dbSize() {
        var element = document.getElementById("dbsize").value
        document.getElementById("dbsize").disabled
        $('#step6-text').html(element + ' GB(s)')

        // Setting service details height to be centered in all viewports
        var servDetHeight = document.querySelector('#servDetails').offsetHeight;
        var offsetServDet = servDetHeight / 2;
        $('#servDetails').css('top', window.innerHeight / 2 - offsetServDet)
    
        $("#cont5").css("display", "none");
        $("#header5").removeClass("open");
    
        $('#s6').collapse('show')
        
        setTimeout(function () {
            document.querySelector("#cont6").scrollIntoView(true, { behavior: "smooth" });    
        }, 250);
    }

</script>