<div class="container collapse" id="s8">
    <div class="row mt-2">
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <div class="col-md-12">

                        <button type="button" class="collapsible active" id="header8" style="margin: 5px 0;">Step 8: Details</button>
                            
                        <div class="content" id="cont8" style="text-align: center; display: block;" onchange="commentArea()">
                            <label>Due Date:</label>
                            <input id="dueDate" placeholder="">
                            <label>Requested By:</label>
                            <input id="reqBy">
                            <label>Manager's Email:</label>
                            <input id="mangEmail">
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function commentArea() {
        var element = $("#cont8").text();
        var due = 'Due By: ' + $('#dueDate').val()
        var req = 'Requested by: ' + $('#reqBy').val()
        var mang = "Manager's Email: " + $('#mangEmail').val()
        
        $('#step8-text').html(due + '<br>' + req + '<br>' + mang);

        $("#cont8").css("display", "none");
        $("#header8").removeClass("active");

        $('#submit').collapse('show')
        document.getElementById("submit").scrollIntoView();
    }

</script>