<div id="featuresBlock" style=" display:none; padding: 1%; margin: 1% 0 4%; border: 2px solid #343A40; border-radius: 5px; flex: 1 1 auto; background-color: #FFFFFF;" >
  <div id="block3" style="display:none;">
                
    <div class="col-md-12">

      <div style="margin: 1%; padding: 2%; background-color: #F4F6F9; border-radius: 5px; text-align: center;">
    
        <div id="group3">
  
          <select id="envSelect" size="5" name="env1" class="selectpicker" data-live-search="true" style="width: 100%;" onchange="envSelected(this,1)" required>
            
            <option value="" disabled selected hidden>Select Environment</option>
          
          </select>
          
        </div>

      </div>
     
    </div>

  </div>

  <div id="block4" style="display: none;  background-color: #FFFFFF;">
                
    <div class="col-md-12">

      <div style="margin: 1%; padding: 2%; background-color: #F4F6F9; border-radius: 5px; text-align: center;">
    
        <div id="group4" class="">
  
          <select id="licenceSelect" size="5" name="licensetype" class="selectpicker" data-live-search="true" style="width: 100%;" onchange="envSelected(this,2)" required>
            
            <option value="" disabled selected hidden>Select Licencing</option>
          
          </select>
          
        </div>

      </div>

    </div>

  </div>
</div>
