<div class="container collapse" id="s3">
  <div class="row mt-2">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <div class="col-12">
            <h3>Step 3: Environment</h3>
            <div class="card-deck" >
              <div id="ABC-card" class="card mb-4  active">
                <div class="card-body" role="button">
                  <h5 class="card-title"><input  id="ABC" type="radio" checked="">
                    <label for="ABC">ABC Environment</label></h5>
                  <p class="card-text">ABC Enivornment. The First Environment to choose </p>
                </div>
              </div>

                <div id="DEF-card" class="card mb-4  active">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="DEF" type="radio" checked="">
                      <label for="DEF">DEF Environment</label></h5>
                    <p class="card-text">DEF Enivornment. The Second Environment to choose </p>
                  </div>
                </div>

                  <div id="GHI-card" class="card mb-4  active">
                    <div class="card-body" role="button">
                      <h5 class="card-title"><input  id="GHI" type="radio" checked="">
                        <label for="GHI">GHI Environment</label></h5>
                      <p class="card-text">GHI Enivornment. The Third Environment to choose </p>
                    </div>
                  </div>

                    <div id="JKL-card" class="card mb-4  active">
                      <div class="card-body" role="button">
                        <h5 class="card-title"><input  id="JKL" type="radio" checked="">
                          <label for="JKL">JKL Environment</label></h5>
                        <p class="card-text">JKL Enivornment. The Fourth Environment to choose </p>
                      </div>
                    </div>

                      <div id="MNO-card" class="card mb-4  active">
                        <div class="card-body" role="button">
                          <h5 class="card-title"><input  id="MNO" type="radio" checked="">
                            <label for="MNO">MNO Environment</label></h5>
                          <p class="card-text">MNO Enivornment. The Fifth Environment to choose </p>
                        </div>
                      </div>
             
              
              <div class="w-100"></div>
              
              <div id="PQR-card" class="card mb-4  active">
                <div class="card-body" role="button">
                  <h5 class="card-title"><input  id="PQR" type="radio" checked="">
                    <label for="PQR">PQR Environment</label></h5>
                  <p class="card-text">PQR Enivornment. The Sixth Environment to choose </p>
                </div>
              </div>

                <div id="STU-card" class="card mb-4  active">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="STU" type="radio" checked="">
                      <label for="STU">STU Environment</label></h5>
                    <p class="card-text">STU Enivornment. The Seventh Environment to choose </p>
                  </div>
                </div>

                  <div id="VWX-card" class="card mb-4  active">
                    <div class="card-body" role="button">
                      <h5 class="card-title"><input  id="VWX" type="radio" checked="">
                        <label for="VWX">VWX Environment</label></h5>
                      <p class="card-text">VWX Enivornment. The Eight Environment to choose </p>
                    </div>
                  </div>

                    <div id="VHS-card" class="card mb-4  active">
                      <div class="card-body" role="button">
                        <h5 class="card-title"><input  id="VHS" type="radio" checked="">
                          <label for="VHS">VHS Environment</label></h5>
                        <p class="card-text">VHS Enivornment. The Ninth Environment to choose </p>
                      </div>
                    </div>

                      <div id="THX-card" class="card mb-4  active">
                        <div class="card-body" role="button">
                          <h5 class="card-title"><input  id="THX" type="radio" checked="">
                            <label for="THX">THX Environment</label></h5>
                          <p class="card-text">THX Enivornment. The Tenth Environment to choose </p>
                        </div>
                      </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>