<div class="container" id="s1">
  <div class="row mt-2">
    <div class="col-12">
      
        <div class="form-group row">
          <div class="col-md-12">
        
            <button type="button" class="collapsible active" id="header1" style="margin: 5px 0;">Step 1: Host</button>
            <div class="content" id="cont1" style="display:block;">
              <div class="card-deck" >
                <div id="On-Prem-Database-card" class="card mb-4 selected group1">
                  <img class="card-img-top m-2" src='/img/OnPremDatabaseLogo.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="On-Prem-Database" name="radio1" value="On-Prem-Database"  class="group1" type="radio" checked="">
                      <label for="On-Prem-Database">On-Prem Database</label></h5>
                    <p class="card-text">The term "on premises" refers to local hardware, meaning data is stored on local servers, computers or other devices.</p>
                  </div>
                </div>

                <div id="Cloud-Database-card" class="card mb-4 unselected group1">
                  <img class="card-img-top m-2" src='/img/CloudDatabaseLogo.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="Cloud-Database" class="group1" name="radio1" value="Cloud-Database" type="radio" > <label for="Cloud-Database">Cloud Database</label></h5>
                    <p class="card-text">A cloud database is a database that typically runs on a cloud computing platform and access to the database is provided as-a-service.</p>
                  </div>
                </div>

                <div id="Replication-Goldengate-card" class="card mb-4 unselected group1">
                  <img class="card-img-top m-2" src='/img/GoldenGate.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="Replication-Goldengate" class="group1" name="radio1" value="Replication-Goldengate" type="radio" > <label for="Replication-Goldengate">Replication - Goldengate</label></h5>
                    <p class="card-text">Oracle GoldenGate enables you to replicate data between Oracle databases to other supported heterogeneous database, and between heterogeneous databases.</p>
                  </div>
                </div>
                                  
                <div id="Replication-Nifi-card" class="card mb-4 unselected group1">
                  <img class="card-img-top m-2" src='/img/ApacheNifi.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input id="Replication-Nifi" class="group1" name="radio1" value="Replication-Nifi" type="radio" > <label for="Replication-Nifi">Replication - Nifi</label></h5>
                    <p class="card-text">Apache NiFi is a software project from the Apache Software Foundation designed to automate the flow of data between software systems.</p>
                  </div>
                </div>

                <div id="Replication-Kafka-card" class="card mb-4 unselected group1">
                  <img class="card-img-top m-2" src='/img/ApacheKafka.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="Replication-Kafka" class="group1" name="radio1" value="Replication-Kafka" type="radio" > <label for="Replication-Kafka">Replication - Kafka</label></h5>
                    <p class="card-text">Apache Kafka is a framework implementation of a software bus using stream-processing.</p>
                  </div>
                </div>
                
              </div>
            </div>

          </div>
        </div>
      
    </div>
  </div>
</div>