<div class="container collapse" id="s2-2">
    <div class="row mt-2">
      <div class="col-12">
        <form>
          <div class="form-group row">
            <div class="col-12">
                <h3>Step 2</h3>
              <div class="card-deck">
                <div id="SourceDB-card" class="card mb-4  active">
                  <img class="card-img-top m-2" src='' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="sourceDB" type="radio" checked="">
                      <label for="sourceDB">Source DB</label></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
                
                <div class="w-100"></div>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>