<div class="container collapse" id="s4">
  <div class="row mt-2">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <div class="col-md-12">

            <button type="button" class="collapsible active" style="margin: 5px 0;">Step 4: T-Shirt Size</button>
            
            <div class="content" style="text-align: center; display: block;">
              <select id="tshirtSelect" class="selectpicker" data-live-search="true" style="width: 800px;" onchange="tshirtSelected()">
                
                <option value="" disabled selected style="background-color: white;">Select T-shirt Size</option>
                <% step4.forEach(card => { %>
                  <option value="<%=card.id%>"><%=card.size%></option>
                <% }) %>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  
<script>
  
  function tshirtSelected() {
    var element = $("#tshirtSelect option:selected").text()
    $('#step4-text').html(element)
    //$('#s4').collapse('hide')
    $('#s5').collapse('show')
    document.getElementById("step5").scrollIntoView();
  }

</script>

<style>

  .bootstrap-select {
    width: 80% !important;
  }

</style>