<div class="container collapse" id="s2-1">
  <div class="row mt-2">
    <div class="col-12">
      <form>
        <div class="form-group row">
          <div class="col-12">
            <button type="button" class="collapsible active" style="margin: 5px 0;">Step 2: Database</button>
            <div class="content" style="display:block;">
              <div class="card-deck">
                
                <div id="Oracle-Database-card" class="card mb-4  selected">
                  <img class="card-img-top m-2" src='/img/oracledatabase.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="Oracle-Database" type="radio" checked="">
                      <label for="Oracle-Database">Oracle Database</label></h5>
                    <p class="card-text">Oracle Database is a multi-model database management system produced and marketed by Oracle Corporation</p>
                  </div>
                </div>
              
                <div id="SQL-Server-card" class="card mb-4">
                  <img class="card-img-top m-2" src='/img/sql-server.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="SQL-Server" type="radio"> <label for="SQL-Server">SQL Server</label></h5>
                    <p class="card-text">Microsoft SQL Server is a relational database management system developed by Microsoft.</p>
                  </div>
                </div>

                <div id="My-SQL-card" class="card mb-4">
                  <img class="card-img-top m-2" src='/img/mysqllogo.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="My-SQL" type="radio"> <label for="MySQL">My SQL</label></h5>
                    <p class="card-text">MySQL is an open-source relational database management system.</p>
                  </div>
                </div>
                
                <div id="Apache-Cassandra-card" class="card mb-4">
                  <img class="card-img-top m-2" src='/img/apachecassandra.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="Apache-Cassandra" type="radio"> <label for="Apache-Cassandra">Apache Cassandra</label></h5>
                    <p class="card-text">Cassandra is a free and open-source, distributed, wide-column store, NoSQL database management system designed to handle large amounts of data across many commodity servers, providing high availability with no single point of failure.</p>
                  </div>
                </div>
                
                <div id="Redis-card" class="card mb-4">
                  <img class="card-img-top m-2" src='/img/redislogo.png' style="width:5rem; height:5rem; ;" alt="Card image cap">
                  <div class="card-body" role="button">
                    <h5 class="card-title"><input  id="Redis" type="radio"> <label for="Redis">Redis</label></h5>
                    <p class="card-text">Redis is an in-memory data structure store, used as a distributed, in-memory key-value database, cache and message broker, with optional durability.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>