<div id="block5" style="display: none; padding: 1%; margin: 1% 0 4%; border: 2px solid #343A40; border-radius: 5px; flex: 1 1 auto; background-color: #FFFFFF;">
                
    <div class="col-md-12">

      <div style="margin: 1%; padding: 2%; background-color: #F4F6F9; border-radius: 5px; text-align: center;">
    
        <div id="group5" class="">
  
          <select id="tshirtSelect" size="5" name="tshirtsize" class="selectpicker" data-live-search="true" style="width: 100%;" onchange="envSelected(this,1)" required>
            
            <option value="" disabled selected hidden>Select T-shirt Size</option>
          
          </select>
          
        </div>

      </div>

    </div>

  </div>
    