<div class="container collapse" id="sub" style="margin-bottom: 50px;">
    <div class="row mt-2">
        <div class="col-md-12">
            <div style="text-align: center;">
                

                <button type="button" class="active btn btn-primary" id="submitBtn" onclick="submitTest()">Submit</button>
                
            </div>
        </div>
    </div>
</div>

<script>

    function submitForms() {
        document.getElementById("form1").submit();

        var step21 = document.getElementById('step2.1-text').innerHTML
        var step22 = document.getElementById('step2.2-text').innerHTML

        if (step21 == null || step21 == "") {
            document.getElementById("form2").submit();
        } else if (step22 == null || step22 == "") {
            document.getElementById("form2.2").submit();
        }
        
        document.getElementById("form3").submit();
        document.getElementById("form4").submit();
        document.getElementById("form5").submit();
        document.getElementById("form6").submit();
        document.getElementById("form7").submit();
        document.getElementById("form8").submit();
        document.getElementById("addForm").submit();
    }

    function submitTest() {
    var txt;
    if (confirm("Confirm Submitting!")) {

        var mail = document.getElementById("mangEmail");
        if(ValidateEmail(mail)==true){
            document.getElementById("addForm").submit();
            txt = "Data Submit Confirmed";
        }
        else{
           var el = document.getElementById("emailAlert");
           el.style.display = "block";         
            return;
        }

    } else {
      txt = "Data Submit Cancelled";
     }
     document.getElementById("step1-text").innerHTML = txt;
     document.getElementById("step2-text").innerHTML = "";
     document.getElementById("step3-text").innerHTML = "";
     document.getElementById("step4-text").innerHTML = "";
     document.getElementById("step5-text").innerHTML = "";
     document.getElementById("step6-text").innerHTML = "";
     document.getElementById("step7-text").innerHTML ="";
     document.getElementById("step8-text").innerHTML = "";

    }

    function ValidateEmail(inputText) 
{
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    if(inputText.value.match(mailformat)){
    
        return true}
    else{
    
        return false}
}

</script>