<!DOCTYPE html>
<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title> <%= title %></title>

        <style>

            label {
                margin-bottom: 0;
                font-size: small;
            }

            .moveall, .removeall {
                border: 1px solid #ccc !important;
            }

            .moveall:hover, .removeall:hover {
                background: #efefef;
            }

            /* Only included because button labels aren't showing  */
            .moveall::after {
                content: attr(title)
            }

            .removeall::after {
                content: attr(title);
            }

            /* Custom styling form */
            .form-control option {
                padding: 10px;
                border-bottom: 1px solid #efefef;
            }

        </style>
    
    </head>

  <body style="height: 100vh; background-color: #F4F6F9;">
    
    <div><%- include('admin/header.ejs', {active: "Register"}); %></div>

    <!-- <div class="jumbotron text-center" style="background-color: #3EB489;">
        <h1><%#=title%></h1>
        <p>Register</p>
    </div> -->

    <!-- show any messages that come back with authentication -->
    <!-- <%# if (message.length > 0) { %>
      <div class="alert alert-danger"><%#= message %></div>
    <%# } %>
    <%# if (successMessage.length > 0) { %>
      <div class="alert alert-success"><%#= successMessage %></div>
    <%# } %> -->

    <div class="container-fluid mt-4">

      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4" style="display: flex; padding: 0; flex: 1 0 100%;">
          
          <div class="card" style="margin: 0; transform: scale(1);">
            
            <div class="card-header">New Team Form</div>
          
            <div class="card-body">
              
              <form id="addTeamForm" class="form-horizontal" method="post" action="/addTeam">
                
                <div class="row">
                    <div class="col-md-12 mb-2">

                        <div class="form-outline">
                            <label class="form-label" for="teamName" style="margin-left: 0px;">Team Name</label>
                            <input type="text" id="teamName" class="form-control" placeholder="Team Name" name="teamName" required>
                        </div>

                    </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">

                      <div class="form-outline">
                          <label class="form-label" for="mangName" style="margin-left: 0px;">Manager Name</label>
                          <input type="text" id="mangName" class="form-control" placeholder="Manager Name" name="mangName" required>
                      </div>

                  </div>

                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                        <label class="form-label" for="mangEmail" style="margin-left: 0px;">Manager Email</label>
                        <input type="text" id="mangEmail" class="form-control" placeholder="Manager Email" name="mangEmail" required>
                    </div>

                </div>
              </div>

                <hr>
                
                <div class="row">
                  <div class="col-md-12 mb-2">

                    <div class="form-outline">
                      <select id="teamMemberSelect" class="select form-control" name="teamMemberSelect[]" title="teamMemberSelect[]" size="10" multiple required>
                        <!-- <option value="" hidden selected disabled>Select access level</option> -->
                        <% users.forEach(user => { %>
                          <option value="<%= user.id %>"><%= user.first_name %></option>
                        <% }) %>
                      </select>
                    </div>

                  </div>
               
                </div>

                <hr>
                  
                <div class="dataBtns" style="text-align: center;">
                    
                  <a type="button" class="btn btn-success" id="registerBtn" onclick="submitFunc()">Create Team</a>
                  
                </div>
              
              </form>
              
              

          </div>
      </div>
    </div>
  </div>
    </div>
  

    <script>
        function submitFunc() {
            if (confirm("Confirm Adding Team!")) {
                document.getElementById("addTeamForm").submit()
            }
        }

        var demo1 = $('select[name="teamMemberSelect[]"]').bootstrapDualListbox({
            nonSelectedListLabel: 'Available Users',
            selectedListLabel: 'Selected Users',
            preserveSelectionOnMove: 'moved',
            moveAllLabel: 'Move all',
            removeAllLabel: 'Remove all'
        })
    </script>
  </body>
</html>