<style type="text/css">
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
    .p{
      color:black;
    }
  </style>
  
  
  
  <wrapper class="header">
    <container>
      <row class="collapse">
        <columns small="6">
         
          <img src='cid:SCImg'>
        
        </columns>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <br>
  
    <row>
      <columns small="12">
  
        <h1>Hi, <%= fname %> <%=lname%></h1>
        <p class="lead">Your account has been created, please login using the credentials below:</p>
        <callout class="primary">
          <p><b>Username:</b> <%=username%></p>
          <p><b>Password:</b> <%=password%></p>
          <p>Kindly use this <a href="http://localhost:3000/login">link</a> to login.</p>
          
        </callout>
      </columns>
    </row>
    <wrapper class="secondary">
      <p>Kind Regards,</p>
      <p><b>Service Catalog</b></p>
        <br>
  
      <row>
        <columns large="6">
          <h5>Connect With Us:</h5>
          <button class="facebook expand" href="http://zurb.com">Facebook</button>
          <button class="twitter expand" href="http://zurb.com">Twitter</button>
          <button class="google expand" href="http://zurb.com">Google+</button>
        </columns>
        <columns large="6">
          <h5>Contact Info:</h5>
          <p>Phone: 408-341-0600</p>
          <p>Email: <a href="mailto:oraconsultancy22@gmail.com">oraconsultancy22@gmail.com</a></p>
        </columns>
      </row>
    </wrapper>
  </container>