<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title> <%= title %></title>
  </head>

  <body style="height: 100vh; background-color: #F4F6F9;">
    
    <div><%- include('general/header.ejs', {active: "ChangePassword"}); %></div>

    <div class="container-fluid mt-4">

      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4" style="display: flex; padding-top: 10vh;">

          <div class="card">
            
            <!-- <div class="card-header">Login Form</div>
            
            <div class="card-body" style="text-align: center;">
              
              <form id="loginForm" class="form-horizontal" method="post" action="/login">
                
                <div class="form-row">
                  
                  <div class="col">
                    
                    <div class="form-group">
                          
                      <input placeholder="User Name" type="text" name="userName" required> 
                      
                    </div>
                  
                  </div>
                  
                  <div class="col">
                            
                    <div class="form-group">
                      
                      <div><input placeholder="Password" type="text" name="password" required></div>
                    
                    </div>
                      
                  </div>
                  
                </div>
                      
                <div class="dataBtns"><a type="button" id="registerBtn" class="btn btn-success" onclick="myFunction()">Login</a></div>
              
              </form>
            
            </div> -->

            <div class="card-body">

              <h4 class="card-title text-center mb-4 mt-1">Request Password Change</h4>
              <hr>

              <%# if (message) { %>
                <!-- <div style="text-align: center;"class="alert alert-<%#= message %>" role="alert">
                  <strong><%#= message %></strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
              <%# } %>

              <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
              <% } %>

              <form id="forgotPasswordForm" method="post" action="/reset-password-email">

                <div class="form-group">

                  <div class="input-group">

                    <div class="input-group-prepend">

                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    
                    </div>

                    <input name="email" class="form-control" placeholder="Email Address">

                  </div>

                </div>

                <!-- <div class="form-group">

                  <div class="input-group">

                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fas fa-lock"></i></span>

                    </div>

                      <input name="newPassword" class="form-control" placeholder="New Password" type="password">

                  </div>

                </div>
                
                <div class="form-group">

                    <div class="input-group">
  
                        <div class="input-group-prepend">
    
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
    
                        </div>
  
                        <input name="confirmPassword" class="form-control" placeholder="Confirm new password" type="password">
  
                    </div>
  
                </div> -->

                <div class="form-group">

                  <button type="submit" class="btn btn-primary btn-block">Send Verification Link</button>

                </div>

                <p class="text-center"><a href="/login" class="btn">Remembered it?</a></p>

              </form>

            </div>
          
          </div>
        
        </div>

      </div>

    </div>

  </body>
</html>