<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="./css/styles.css">
    
   
    <title> <%= title %></title>

    

</head>
<body>
    <div class="main-content">
     <h1><%= name %></h1>
         <p>Add User to SQL Database</p>


    </div>
        
</body>
</html>