<!DOCTYPE html>
<html>

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <title> <%= title %></title>
  
  </head>

  <body style="height: 100vh; background-color: #F4F6F9;">
    
    <div><%- include('general/header.ejs', {active: "Login"}); %></div>

    <div class="container-fluid mt-4">

      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4" style="display: flex; padding-top: 10vh;">

          <div class="card" style="width: 100%; margin: 0; transform: scale(1);">
            
            <div class="card-body">

              <h4 class="card-title text-center mb-4 mt-1" >Sign in</h4>
              <hr>

              <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
              <% } %>

              <form id="loginForm" method="post" action="/login">

                <div class="form-group">

                  <div class="input-group">

                    <div class="input-group-prepend">

                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    
                    </div>

                  <input name="username" class="form-control" placeholder="Username">

                  </div>

                </div>

                <div class="form-group">

                  <div class="input-group">

                    <div class="input-group-prepend">

                        <span class="input-group-text"> <i class="fas fa-lock"></i> </span>

                    </div>

                      <input name="password" class="form-control" placeholder="******" type="password">

                  </div>

                </div>
                 <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>
                
                <div class="form-group">

                  <button type="submit" class="btn btn-primary btn-block">Login</button>

                </div>

                <p class="text-center"><a href="/reset-password" class="btn">Forgot password?</a></p>

              </form>

            </div>
          
          </div>
        
        </div>

      </div>

    </div>

  </body>
</html>