<!DOCTYPE html>
<html>

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <title> <%= title %></title>

      <style>

        label {
          margin-bottom: 0;
          font-size: small;
        }

      </style>
  
  </head>

  <body style="height: 100vh; background-color: #F4F6F9;">
    
    <div><%- include('general/header.ejs', {active: "Register"}); %></div>

    <!-- <div class="jumbotron text-center" style="background-color: #3EB489;">
        <h1><%#=title%></h1>
        <p>Register</p>
    </div> -->

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="container-fluid mt-4">

      <div class="row justify-content-center">

        <div class="col-12 col-sm-6 col-md-4 justify-content-center" style="display: flex; padding-top: 1vh;">
          
          <div class="card">
            
            <div class="card-header">Register Form</div>
          
            <div class="card-body">
              
              <form id="addUserForm" class="form-horizontal p-2" method="post" action="/register">

                <div class="row">
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="firstName" style="margin-left: 0px;">Username</label>
                      <input type="text" id="username" class="form-control" placeholder="Username" name="username" required>
                    </div>

                  </div>
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="email" style="margin-left: 0px;">Email</label>
                      <input type="text" id="email" class="form-control" placeholder="Email" name="email" required>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="firstName" style="margin-left: 0px;">First Name</label>
                      <input type="text" id="firstName" class="form-control" placeholder="First Name" name="firstName" required>
                    </div>

                  </div>
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="lastName" style="margin-left: 0px;">Surname</label>
                      <input type="text" id="lastName" class="form-control" placeholder="Last Name" name="lastName" required>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
                      <input type="text" id="password" class="form-control" placeholder="Password" name="password" required>
                    </div>

                  </div>
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label select-label" for="accountType" style="margin-left: 0px;">Access Level</label>
                      <select id="permission" class="select form-control" name="permission" required>
                        <option value="" hidden selected disabled>Select access level</option>
                        <option value="1">Member</option>
                        <option value="2">Admin</option>
                      </select>
                    </div>

                  </div>
                  <div class="col-md-6 mb-2">

                    <div class="form-outline">
                      <label class="form-label" for="team_id" style="margin-left: 0px;">Team</label>
                      <input type="text" id="team_id" class="form-control" placeholder="Team ID" name="team_id" required>
                    </div>

                  </div>
                </div>

                <br>
                  
                <div class="dataBtns" style="text-align: center;">
                    
                  <a type="button" class="btn btn-success" id="registerBtn" onclick="myFunction()">Create</a>
                  
                </div>
              
              </form>
              
              <hr>

              <p>Already have an account? <a href="/login">Login</a></p>
              <p>Or go <a href="/">home</a>.</p>
          </div>
      </div>
    </div>
  </div>
    </div>
  

    <script>
      function myFunction() {
        var txt;
        if (confirm("Confirm Adding User!")) {
          document.getElementById("addUserForm").submit();
          txt = "Add Confirmed";
        } else {
          txt = "Add Cancelled";
        }
        document.getElementById("demo").innerHTML = txt;
      }
    </script>
  </body>
</html>