<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
        
    <body class="container mt-3">
        <!-- <%# if (messages.error) { %>
            <p style="color:red"><%#- messages.error %></p>
        <%# } %>

        <%# if (messages.success) { %>
            <p style="color:green"><%#- messages.success %></p>
        <%# } %> -->

        <!-- <h1 class="mb-3"><%= title %></h1>

        <form action="/update-password" method="post" name="updatePasswordForm">
            <input type="hidden" name="token" class="form-control" value="<%= token %>">
            
            <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
                <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Please Enter New Password" value="">
            </div>
            
            <input type="submit" class="btn btn-primary" value="Update Password">
        </form> -->

        <!-- <div class="container-fluid mt-4"> -->

            <div class="row justify-content-center">
      
              <div class="col-12 col-sm-6 col-md-4" style="padding-top: 10vh;">
      
                <div class="card">
                  
                  <!-- <div class="card-header">Login Form</div>
                  
                  <div class="card-body" style="text-align: center;">
                    
                    <form id="loginForm" class="form-horizontal" method="post" action="/login">
                      
                      <div class="form-row">
                        
                        <div class="col">
                          
                          <div class="form-group">
                                
                            <input placeholder="User Name" type="text" name="userName" required> 
                            
                          </div>
                        
                        </div>
                        
                        <div class="col">
                                  
                          <div class="form-group">
                            
                            <div><input placeholder="Password" type="text" name="password" required></div>
                          
                          </div>
                            
                        </div>
                        
                      </div>
                            
                      <div class="dataBtns"><a type="button" id="registerBtn" class="btn btn-success" onclick="myFunction()">Login</a></div>
                    
                    </form>
                  
                  </div> -->
      
                  <div class="card-body">
      
                    <h4 class="card-title text-center mb-4 mt-1"><%= title %></h4>
                    <hr>
      
                    <%# if (message) { %>
                      <!-- <div style="text-align: center;"class="alert alert-<%#= message %>" role="alert">
                        <strong><%#= message %></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div> -->
                    <%# } %>
      
                    <!-- <%# if (message.length > 0) { %>
                      <div class="alert alert-danger"><%#= message %></div>
                    <%# } %> -->
      
                    <form id="updatePasswordForm" method="post" action="/reset-password-email" name="updatePasswordForm">
      
                      <div class="form-group">
      
                        <div class="input-group">
      
                          <div class="input-group-prepend">
      
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                          
                          </div>
      
                          <input name="password" class="form-control" placeholder="Please Enter New Password">
      
                        </div>
      
                      </div>
      
                      <!-- <div class="form-group">
      
                        <div class="input-group">
      
                          <div class="input-group-prepend">
      
                              <span class="input-group-text"><i class="fas fa-lock"></i></span>
      
                          </div>
      
                            <input name="newPassword" class="form-control" placeholder="New Password" type="password">
      
                        </div>
      
                      </div>
                      
                      <div class="form-group">
      
                          <div class="input-group">
        
                              <div class="input-group-prepend">
          
                                  <span class="input-group-text"><i class="fas fa-lock"></i></span>
          
                              </div>
        
                              <input name="confirmPassword" class="form-control" placeholder="Confirm new password" type="password">
        
                          </div>
        
                      </div> -->
      
                      <div class="form-group">
      
                        <button type="submit" class="btn btn-primary btn-block">Update Password</button>
      
                      </div>
      
                    </form>
      
                  </div>
                
                </div>
              
              </div>
      
            </div>
      
          <!-- </div> -->
    </body>
</html>