.selected {
  border-color: #28a745 !important;
  background-color: #f2f2f2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.unselected{
  background-color: red;
  border-color: purple;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.18), 0 3px 6px rgba(0, 0, 0, 0.23);
}
  
.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width:500px;
  margin:5px;
}

#servDetails {
  position: fixed;
  /* top: 100vh / 2; */
  right: 0;
  margin-right: 2% ;
  z-index: 10;
  min-width: 210px;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin:5px;
}

.open, .collapsible:hover {
  background-color: #28a745;
  color: black;
  font-weight: bold;
}

.content {
  padding: 10px 18px;
  display: none;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.open:after {
  content: "\2212";
}

.card-settings {
  min-width: 153px !important;
  width: 100%;
  margin: 0;
}

.header-settings {
  min-width: 153px !important;
  width: 100%;
  margin: 5px 0;
}

/*
* Breakpoints
*/
@media screen and (max-width:768px) {
  
  #servDetails {
    width: 100%;
    margin-right: 0;
    /* right: 0;
    left: 0;
    top: 224px; */
    position: static;
  }

  #details {
    /* top: 0; */
    /* left: 0; */
    width: 100% !important;
    margin: 0;
    border: 0,1px solid;
    /* margin-right: 20%; */
    z-index: 10;
  }

  #section1 {
    width: 100%;
    margin-right: 0;
    left: 0;
  }
}