<aside style="background-color: #343A40; height: 100%;">
    
    <!-- <div class="p-3">
        
            <a href="#" class="nav-link" style="flex: 1 0 20px;">
                <i class="nav-icon fas fa-user"></i>
                <p>Profile</p>
            </a>

            <a href="#" class="nav-link" style="flex: 1 0 auto;">
                <i class="nav-icon fas fa-key"></i>
                <p>Change Password</p>
            </a>
        
            <a href="#" class="nav-link" style="flex: 1 0 auto;">
                <i class="nav-icon fas fa-power-off"></i>
                <p>Logout</p>
            </a>
    
    </div> -->
  
</aside>